<form action="{{action}}" method="POST" class="game-container current-player--{{ yourValue }}">
    {% if status == constant('App\\Service\\GameService::GAME_FINISHED') %}
        {% include 'game/finished.html.twig' %}
    {% else %}
        {% include 'game/turn_labels.html.twig'%}
    {% endif %}
    {# Each cell has a couple of coords as value : "row-column" (e.g : "O-5")
    Twig inject in loops an object "loop".
    loop.index is the iterator (start 1 to 6).
    loop.parent be able to access to the first loop object.
    #}

    <div class="board">
        {% for row in board %}
            <div class="row">
                {% for value in row %}
                    <button type="submit" name="position" {% if status != constant('App\\Service\\GameService::GAME_STARTED') or isYourTurn == false or turnStatus == constant('App\\Service\\GameService::ROTATE_QUARTER_STATUS') or value != 0 %} disabled="disabled" {% endif %} value="{{loop.parent.loop.index}}-{{loop.index}}" class="cell">
                        <div class="marble player-bg--{{value}} {% if [loop.parent.loop.index - 1, loop.index - 1] in allAlignedPositions %}aligned{% endif %}"></div>
                    </button>
                {% endfor %}
            </div>
        {% endfor %}
        {% if status == constant('App\\Service\\GameService::GAME_STARTED') and isYourTurn and turnStatus == constant('App\\Service\\GameService::ROTATE_QUARTER_STATUS') %}
            <div class="rotate-controls-overlay">
                <div class="rotate-controls-quarter">
                    <button type="submit" name="rotation-key" value="0">
                        <img class="icon icon--inversed" src="{{ asset('svg/rotate.svg') }}" alt="counter-clockwise rotation icon"/>
                    </button>
                    <button type=" submit" name="rotation-key" value="1">
                        <img class="icon" src="{{ asset('svg/rotate.svg') }}" alt="clockwise rotation icon"/>
                    </button>
                </div>
                <div class="rotate-controls-quarter">
                    <button type="submit" name="rotation-key" value="2">
                        <img class="icon icon--inversed" src="{{ asset('svg/rotate.svg') }}" alt="counter-clockwise rotation icon"/>
                    </button>
                    <button type=" submit" name="rotation-key" value="3">
                        <img class="icon" src="{{ asset('svg/rotate.svg') }}" alt="clockwise rotation icon"/>
                    </button>
                </div>
                <div class="rotate-controls-quarter">
                    <button type="submit" name="rotation-key" value="6">
                        <img class="icon icon--inversed" src="{{ asset('svg/rotate.svg') }}" alt="counter-clockwise rotation icon"/>
                    </button>
                    <button type=" submit" name="rotation-key" value="7">
                        <img class="icon" src="{{ asset('svg/rotate.svg') }}" alt="clockwise rotation icon"/>
                    </button>
                </div>
                <div class="rotate-controls-quarter">
                    <button type="submit" name="rotation-key" value="4">
                        <img class="icon icon--inversed" src="{{ asset('svg/rotate.svg') }}" alt="counter-clockwise rotation icon"/>
                    </button>
                    <button type=" submit" name="rotation-key" value="5">
                        <img class="icon" src="{{ asset('svg/rotate.svg') }}" alt="clockwise rotation icon"/>
                    </button>
                </div>
            </div>
        {% endif %}
    </div>
</form>
