<div>
    <h1>The game is finished !</h1>
    {% if winner == 0 %}
        <h2>It's a draw !</h2>
    {% elseif isWitness %}
        <h2 class="player-color--{{ winner }}">Player {{ winner }} won !</h2>
    {% elseif winner == yourValue %}
        <h2 class="player-color--{{ yourValue }}">Player {{ yourValue }}, you win !</h2>
    {% else %}
        <h2 class="player-color--{{ yourValue }}">Player {{ yourValue }}, you loose !</h2>
    {% endif %}
</div>
