{% extends 'base.html.twig' %}

{% block title %}Join a game{% endblock %}
{% block stylesheets %}
	{{ parent() }}

	<link href="{{ asset('css/lobby.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

<div class="lobby__container">
    
    <h1>Here's all pending games !</h1>
    {% if games|length > 0 %}
    <ul class="lobby__games-list">
        {% for game in games %}
            <li class="lobby__games-item">
                <h3>{{game.created | date("m/d/Y H:i")}}</h3>
                <a href="{{path('joinGame', { 'id': game.id }) }}" class="button secondary">Join</a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <div class="lobby__empty-screen">
            <h2>Nobody are waiting you...</h2>
            <img class="lobby__illu" src="{{ asset('svg/waiting_opponent.svg') }}" />
            <a href="{{ path('newGame') }}" class="button primary">Create a new game</a>

        </div>

    {% endif %}
</div>
{% endblock %}
